@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bold";
  /*Can be any text*/
  src: local("pnu"), url("./fonts/PNU-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "en";
  /*Can be any text*/
  src: local("pnu"),
    url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

#english {
  font-family: "en", sans-serif !important;
  font-size: larger;
}

#arabic {
  font-family: "bold", sans-serif !important;
  font-size: larger;
}

* {
  margin: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  -webkit-overflow-scrolling: touch;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
